USE [master]
GO
/****** Object:  Database [EquipmentRentalDb]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE DATABASE [EquipmentRentalDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EquipmentRentalDb', FILENAME = N'C:\Users\Tariq\EquipmentRentalDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EquipmentRentalDb_log', FILENAME = N'C:\Users\Tariq\EquipmentRentalDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EquipmentRentalDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EquipmentRentalDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/20/2025 11:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/20/2025 11:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 5/20/2025 11:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RentalTransactionId] [int] NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FileType] [nvarchar](100) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[UploadDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 5/20/2025 11:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[CategoryId] [int] NOT NULL,
	[RentalPrice] [decimal](18, 2) NOT NULL,
	[AvailabilityStatus] [nvarchar](20) NOT NULL,
	[ConditionStatus] [nvarchar](20) NOT NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[DepositAmount] [decimal](18, 2) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastMaintenanceDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 5/20/2025 11:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[EquipmentId] [int] NOT NULL,
	[RentalTransactionId] [int] NULL,
	[FeedbackDate] [datetime2](7) NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[IsVisible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 5/20/2025 11:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Action] [nvarchar](50) NOT NULL,
	[Details] [nvarchar](1000) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[IpAddress] [nvarchar](50) NULL,
	[Source] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/20/2025 11:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReadAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalRequests]    Script Date: 5/20/2025 11:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[EquipmentId] [int] NOT NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[RentalStartDate] [datetime2](7) NOT NULL,
	[RentalEndDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[ProcessedByUserId] [int] NULL,
	[ProcessedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalTransactions]    Script Date: 5/20/2025 11:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RentalRequestId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[EquipmentId] [int] NOT NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[ActualStartDate] [datetime2](7) NOT NULL,
	[ExpectedReturnDate] [datetime2](7) NOT NULL,
	[ActualReturnDate] [datetime2](7) NULL,
	[RentalFee] [decimal](18, 2) NOT NULL,
	[DepositAmount] [decimal](18, 2) NULL,
	[PaymentStatus] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnRecords]    Script Date: 5/20/2025 11:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RentalTransactionId] [int] NOT NULL,
	[ReturnDate] [datetime2](7) NOT NULL,
	[ReturnCondition] [nvarchar](20) NOT NULL,
	[LateFee] [decimal](18, 2) NULL,
	[DamageFee] [decimal](18, 2) NULL,
	[RefundAmount] [decimal](18, 2) NULL,
	[ProcessedByUserId] [int] NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/20/2025 11:41:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description], [CreatedAt], [IsActive]) VALUES (1, N'Power Tools', N'Electric and battery-powered tools for construction and DIY projects', CAST(N'2025-05-12T15:50:46.1333333' AS DateTime2), 1)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [CreatedAt], [IsActive]) VALUES (2, N'Camera Equipment', N'Professional cameras and accessories for photography and videography', CAST(N'2025-05-12T15:50:46.1333333' AS DateTime2), 1)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [CreatedAt], [IsActive]) VALUES (3, N'Construction Equipment', N'Heavy machinery and equipment for construction projects', CAST(N'2025-05-12T15:50:46.1333333' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([Id], [Name], [Description], [CategoryId], [RentalPrice], [AvailabilityStatus], [ConditionStatus], [ImageUrl], [DepositAmount], [CreatedAt], [LastMaintenanceDate]) VALUES (1, N'Electric Drill', N'Powerful electric drill with variable speed settings', 1, CAST(25.00 AS Decimal(18, 2)), N'Available', N'Good', NULL, CAST(50.00 AS Decimal(18, 2)), CAST(N'2025-05-12T15:50:46.1366667' AS DateTime2), NULL)
INSERT [dbo].[Equipment] ([Id], [Name], [Description], [CategoryId], [RentalPrice], [AvailabilityStatus], [ConditionStatus], [ImageUrl], [DepositAmount], [CreatedAt], [LastMaintenanceDate]) VALUES (2, N'DSLR Camera', N'Professional DSLR camera with 24.2MP sensor', 2, CAST(75.00 AS Decimal(18, 2)), N'Available', N'Excellent', NULL, CAST(200.00 AS Decimal(18, 2)), CAST(N'2025-05-12T15:50:46.1366667' AS DateTime2), NULL)
INSERT [dbo].[Equipment] ([Id], [Name], [Description], [CategoryId], [RentalPrice], [AvailabilityStatus], [ConditionStatus], [ImageUrl], [DepositAmount], [CreatedAt], [LastMaintenanceDate]) VALUES (3, N'Concrete Mixer', N'Electric concrete mixer with 63L capacity', 3, CAST(120.00 AS Decimal(18, 2)), N'Rented', N'Good', NULL, CAST(300.00 AS Decimal(18, 2)), CAST(N'2025-05-12T15:50:46.1366667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([Id], [UserId], [EquipmentId], [RentalTransactionId], [FeedbackDate], [Rating], [Comment], [IsVisible]) VALUES (1, 2, 1, 1, CAST(N'2025-05-10T15:50:46.1500000' AS DateTime2), 5, N'The drill worked perfectly for my project', 1)
INSERT [dbo].[Feedback] ([Id], [UserId], [EquipmentId], [RentalTransactionId], [FeedbackDate], [Rating], [Comment], [IsVisible]) VALUES (2, 3, 2, 2, CAST(N'2025-05-11T15:50:46.1500000' AS DateTime2), 4, N'Great camera, but the battery life could be better', 0)
INSERT [dbo].[Feedback] ([Id], [UserId], [EquipmentId], [RentalTransactionId], [FeedbackDate], [Rating], [Comment], [IsVisible]) VALUES (3, 5, 3, 3, CAST(N'2025-05-12T15:50:46.1500000' AS DateTime2), 5, N'Concrete mixer saved me so much time', 1)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([Id], [UserId], [Action], [Details], [Timestamp], [IpAddress], [Source]) VALUES (1, NULL, N'Failed Login', N'Failed login attempt for email: admin@equipmentrental.com', CAST(N'2025-05-17T16:23:08.6142490' AS DateTime2), N'::1', N'Web')
INSERT [dbo].[Logs] ([Id], [UserId], [Action], [Details], [Timestamp], [IpAddress], [Source]) VALUES (2, NULL, N'Failed Login', N'Failed login attempt for email: admin@example.com', CAST(N'2025-05-17T16:23:19.4759431' AS DateTime2), N'::1', N'Web')
INSERT [dbo].[Logs] ([Id], [UserId], [Action], [Details], [Timestamp], [IpAddress], [Source]) VALUES (3, NULL, N'Failed Login', N'Failed login attempt for email: admin@equipmentrental.com', CAST(N'2025-05-17T16:23:36.3220749' AS DateTime2), N'::1', N'Web')
GO
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[RentalRequests] ON 

INSERT [dbo].[RentalRequests] ([Id], [UserId], [EquipmentId], [RequestDate], [RentalStartDate], [RentalEndDate], [Status], [Notes], [TotalCost], [ProcessedByUserId], [ProcessedDate]) VALUES (1, 2, 1, CAST(N'2025-05-07T15:50:46.1400000' AS DateTime2), CAST(N'2025-05-09T15:50:46.1400000' AS DateTime2), CAST(N'2025-05-14T15:50:46.1400000' AS DateTime2), N'Approved', NULL, CAST(125.00 AS Decimal(18, 2)), 4, CAST(N'2025-05-08T15:50:46.1400000' AS DateTime2))
INSERT [dbo].[RentalRequests] ([Id], [UserId], [EquipmentId], [RequestDate], [RentalStartDate], [RentalEndDate], [Status], [Notes], [TotalCost], [ProcessedByUserId], [ProcessedDate]) VALUES (2, 3, 2, CAST(N'2025-05-02T15:50:46.1400000' AS DateTime2), CAST(N'2025-05-04T15:50:46.1400000' AS DateTime2), CAST(N'2025-05-11T15:50:46.1400000' AS DateTime2), N'Completed', NULL, CAST(525.00 AS Decimal(18, 2)), 4, CAST(N'2025-05-03T15:50:46.1400000' AS DateTime2))
INSERT [dbo].[RentalRequests] ([Id], [UserId], [EquipmentId], [RequestDate], [RentalStartDate], [RentalEndDate], [Status], [Notes], [TotalCost], [ProcessedByUserId], [ProcessedDate]) VALUES (3, 5, 3, CAST(N'2025-05-10T15:50:46.1400000' AS DateTime2), CAST(N'2025-05-12T15:50:46.1400000' AS DateTime2), CAST(N'2025-05-19T15:50:46.1400000' AS DateTime2), N'Approved', NULL, CAST(840.00 AS Decimal(18, 2)), 6, CAST(N'2025-05-11T15:50:46.1400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RentalRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[RentalTransactions] ON 

INSERT [dbo].[RentalTransactions] ([Id], [RentalRequestId], [UserId], [EquipmentId], [TransactionDate], [ActualStartDate], [ExpectedReturnDate], [ActualReturnDate], [RentalFee], [DepositAmount], [PaymentStatus], [Status], [Notes]) VALUES (1, 1, 2, 1, CAST(N'2025-05-08T15:50:46.1433333' AS DateTime2), CAST(N'2025-05-09T15:50:46.1433333' AS DateTime2), CAST(N'2025-05-14T15:50:46.1433333' AS DateTime2), NULL, CAST(125.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), N'Paid', N'Active', NULL)
INSERT [dbo].[RentalTransactions] ([Id], [RentalRequestId], [UserId], [EquipmentId], [TransactionDate], [ActualStartDate], [ExpectedReturnDate], [ActualReturnDate], [RentalFee], [DepositAmount], [PaymentStatus], [Status], [Notes]) VALUES (2, 2, 3, 2, CAST(N'2025-05-03T15:50:46.1433333' AS DateTime2), CAST(N'2025-05-04T15:50:46.1433333' AS DateTime2), CAST(N'2025-05-11T15:50:46.1433333' AS DateTime2), NULL, CAST(525.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), N'Paid', N'Returned', NULL)
INSERT [dbo].[RentalTransactions] ([Id], [RentalRequestId], [UserId], [EquipmentId], [TransactionDate], [ActualStartDate], [ExpectedReturnDate], [ActualReturnDate], [RentalFee], [DepositAmount], [PaymentStatus], [Status], [Notes]) VALUES (3, 3, 5, 3, CAST(N'2025-05-11T15:50:46.1433333' AS DateTime2), CAST(N'2025-05-12T15:50:46.1433333' AS DateTime2), CAST(N'2025-05-19T15:50:46.1433333' AS DateTime2), NULL, CAST(840.00 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), N'Paid', N'Active', NULL)
SET IDENTITY_INSERT [dbo].[RentalTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnRecords] ON 

INSERT [dbo].[ReturnRecords] ([Id], [RentalTransactionId], [ReturnDate], [ReturnCondition], [LateFee], [DamageFee], [RefundAmount], [ProcessedByUserId], [Notes]) VALUES (1, 2, CAST(N'2025-05-11T15:50:46.1466667' AS DateTime2), N'Good', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), 4, N'Equipment returned in perfect condition')
INSERT [dbo].[ReturnRecords] ([Id], [RentalTransactionId], [ReturnDate], [ReturnCondition], [LateFee], [DamageFee], [RefundAmount], [ProcessedByUserId], [Notes]) VALUES (2, 8, CAST(N'2025-05-13T15:50:46.1466667' AS DateTime2), N'Good', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), 6, N'No issues with the harness')
INSERT [dbo].[ReturnRecords] ([Id], [RentalTransactionId], [ReturnDate], [ReturnCondition], [LateFee], [DamageFee], [RefundAmount], [ProcessedByUserId], [Notes]) VALUES (3, 9, CAST(N'2025-05-09T15:50:46.1466667' AS DateTime2), N'Good', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(70.00 AS Decimal(18, 2)), 4, N'Soccer goals returned clean')
SET IDENTITY_INSERT [dbo].[ReturnRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [Role], [PhoneNumber], [CreatedAt], [IsActive]) VALUES (1, N'System Administrator', N'admin@equipmentrental.com', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'Administrator', NULL, CAST(N'2025-05-12T15:50:46.1333333' AS DateTime2), 1)
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [Role], [PhoneNumber], [CreatedAt], [IsActive]) VALUES (2, N'John Smith', N'john.smith@example.com', N'5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8', N'Customer', N'555-0101', CAST(N'2025-05-12T15:50:46.1333333' AS DateTime2), 1)
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [Role], [PhoneNumber], [CreatedAt], [IsActive]) VALUES (3, N'Sarah Johnson', N'sarah.j@example.com', N'5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8', N'Customer', N'555-0102', CAST(N'2025-05-12T15:50:46.1333333' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Documents_RentalTransactionId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Documents_RentalTransactionId] ON [dbo].[Documents]
(
	[RentalTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documents_UserId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Documents_UserId] ON [dbo].[Documents]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Equipment_CategoryId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Equipment_CategoryId] ON [dbo].[Equipment]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedback_EquipmentId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Feedback_EquipmentId] ON [dbo].[Feedback]
(
	[EquipmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedback_RentalTransactionId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Feedback_RentalTransactionId] ON [dbo].[Feedback]
(
	[RentalTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedback_UserId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Feedback_UserId] ON [dbo].[Feedback]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Logs_UserId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Logs_UserId] ON [dbo].[Logs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalRequests_EquipmentId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_RentalRequests_EquipmentId] ON [dbo].[RentalRequests]
(
	[EquipmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalRequests_ProcessedByUserId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_RentalRequests_ProcessedByUserId] ON [dbo].[RentalRequests]
(
	[ProcessedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalRequests_UserId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_RentalRequests_UserId] ON [dbo].[RentalRequests]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalTransactions_EquipmentId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_RentalTransactions_EquipmentId] ON [dbo].[RentalTransactions]
(
	[EquipmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalTransactions_RentalRequestId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RentalTransactions_RentalRequestId] ON [dbo].[RentalTransactions]
(
	[RentalRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalTransactions_UserId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_RentalTransactions_UserId] ON [dbo].[RentalTransactions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReturnRecords_ProcessedByUserId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReturnRecords_ProcessedByUserId] ON [dbo].[ReturnRecords]
(
	[ProcessedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReturnRecords_RentalTransactionId]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ReturnRecords_RentalTransactionId] ON [dbo].[ReturnRecords]
(
	[RentalTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 5/20/2025 11:41:09 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_RentalTransactions] FOREIGN KEY([RentalTransactionId])
REFERENCES [dbo].[RentalTransactions] ([Id])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_RentalTransactions]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Users]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_Categories]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([Id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Equipment]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_RentalTransactions] FOREIGN KEY([RentalTransactionId])
REFERENCES [dbo].[RentalTransactions] ([Id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_RentalTransactions]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Users]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[RentalRequests]  WITH CHECK ADD  CONSTRAINT [FK_RentalRequests_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([Id])
GO
ALTER TABLE [dbo].[RentalRequests] CHECK CONSTRAINT [FK_RentalRequests_Equipment]
GO
ALTER TABLE [dbo].[RentalRequests]  WITH CHECK ADD  CONSTRAINT [FK_RentalRequests_ProcessedByUsers] FOREIGN KEY([ProcessedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RentalRequests] CHECK CONSTRAINT [FK_RentalRequests_ProcessedByUsers]
GO
ALTER TABLE [dbo].[RentalRequests]  WITH CHECK ADD  CONSTRAINT [FK_RentalRequests_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RentalRequests] CHECK CONSTRAINT [FK_RentalRequests_Users]
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD  CONSTRAINT [FK_RentalTransactions_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([Id])
GO
ALTER TABLE [dbo].[RentalTransactions] CHECK CONSTRAINT [FK_RentalTransactions_Equipment]
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD  CONSTRAINT [FK_RentalTransactions_RentalRequests] FOREIGN KEY([RentalRequestId])
REFERENCES [dbo].[RentalRequests] ([Id])
GO
ALTER TABLE [dbo].[RentalTransactions] CHECK CONSTRAINT [FK_RentalTransactions_RentalRequests]
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD  CONSTRAINT [FK_RentalTransactions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RentalTransactions] CHECK CONSTRAINT [FK_RentalTransactions_Users]
GO
ALTER TABLE [dbo].[ReturnRecords]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRecords_RentalTransactions] FOREIGN KEY([RentalTransactionId])
REFERENCES [dbo].[RentalTransactions] ([Id])
GO
ALTER TABLE [dbo].[ReturnRecords] CHECK CONSTRAINT [FK_ReturnRecords_RentalTransactions]
GO
ALTER TABLE [dbo].[ReturnRecords]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRecords_Users] FOREIGN KEY([ProcessedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ReturnRecords] CHECK CONSTRAINT [FK_ReturnRecords_Users]
GO
USE [master]
GO
